@import "https://www.nerdfonts.com/assets/css/webfont.css";
html, body{
  display: flex;
  justify-content: center;
  font-family: Arial; 
  background-color: #1B2223;
  width: 100%;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}

p{
  font-size: 20px;
  color: #F4FEFD;
  text-align: justify;
}

img{
  width: 300px;
}
a{
  text-decoration: none;
}
#code{
  width: 400px;
}

.images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

i{
  font-size: 40px;
  margin: 20px;
  font-weight: bold;
  color: #0EF6CC;
}
